@model MVC_HojaDeTareas.Models.Actividad.ListaActividadesModel

<div class="table table-responsive">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Actividad</th>
                <th>Descripción</th>
                <th>Usuario</th>
                <th>Fecha Inicio</th>
                <th>Fecha Término</th>
                <th>Estado</th>                
                <th>Accion</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model.listaActividades)
            {
            <tr>
                <td>@a.nombre</td>
                <td>@a.descripcion</td>
                <td>@a.usuario</td>
                <td>@a.fechaInicio</td>
                <td>@a.fechaTermino</td>
                <td>@a.estadoActividad</td>
                <td></td>
            </tr>
            }
        </tbody>
    </table>

</div>
