@model MVC_HojaDeTareas.Models.ProyectoModel

<h2>Proyectos</h2> 
<div class="row">
    <div class="col-md-2">
        <span class="fa fa-book" onclick="MostrarAgregar()"> Nuevo Poyecto</span>
    </div>
    <div class="col-md-1">
        <span class="fa fa-search" onclick=""> Filtrar</span>
    </div>
</div>

@using (Html.BeginForm("Proyecto", "Proyecto"))
{


<div class="panel panel-default" id="dvAgregar">
    <div class="panel panel-body">  
        <div class="row">
            <div class="col-md-3 ">
                @Html.Label("Nombre", new { @class = " form-label " })
                @Html.TextBoxFor(m => m.nombreProyecto, new { @class = "form-control xs  " })
            </div>
            <div class="col-md-5">
                @Html.Label("Descripción", new { @class = " form-label", rows = "4" })
                @Html.TextAreaFor(m => m.comentarioProyecto, new { @class = "form-control" })
               
            </div>

            <div class="form-group col-md-2 ">
                @Html.Label("Inicio Planeado", new { @class = "control-label" })
                <div class='input-group date' id='dvInicioPlaneado'>
                    @Html.TextBoxFor(m => m.inicioPlaneado, new { placeholder = "dd/mm/aaaa", @class = "form-control" })                   
                    <span class="input-group-addon btn">
                        <span class="fa fa-calendar open-datetimepicker">
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-2 ">
                @Html.Label("Término Planeado", new { @class = "control-label" })
                <div class='input-group date' id='dvTerminoPlaneado'>
                    @Html.TextBoxFor(m => m.terminoPlaneado, new { placeholder = "dd/mm/aaaa", @class = "form-control" })
                    <span class="input-group-addon btn">
                        <span class="fa fa-calendar open-datetimepicker">
                        </span>
                    </span>
                </div>
            </div>
        </div>
        
        <br />
        <div class="row pull-right">
            <div class="col-md-1 ">
                <button class="btn btn-primary" type="submit"><span class="fa fa-floppy-o"></span> Guardar</button>
            </div>
        </div>
    </div>
</div>

}
<hr  width="100%" />
<div id="dvListaProyectos">
    @Html.Action("_ListaProyectos","Proyecto")
</div>


<div class="modal fade" id="modalUsuarios" role="dialog">    
</div>

@section scripts
{
        <script type="text/javascript">


            $('#dvInicioPlaneado').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY'
            });

            $('#dvTerminoPlaneado').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY'
            });


            $(function () {
                $('#dvAgregar').hide();


            });

            function MostrarAgregar() {

                if ($('#dvAgregar').is(":visible"))
                { $('#dvAgregar').hide(500) }
                else
                {
                    $('#dvAgregar').show(500);
                }
            }

            function AgregarUsuario(idProyecto)
            {
                var url = '@Url.Action("_ParticipantesDelProyecto", "Proyecto")';
                $('#modalUsuarios').load(url, { idProyecto: idProyecto });

                $('#modalUsuarios').modal({ show: true });
            }

            function BuscarUsuarios(usuario)
            {
                var usuario = $('#usuario').val();
                var url = '@Url.Action("_ResultadoBusquedaUsuarios", "Proyecto")';
                $('#dvRusltadoUsuarios').load(url, { usuario: usuario });
            }

            function AgregarUsuarioProyecto(idUsuario)
            {
                var actividad = false;
                var cierre = false;
                var participantes = false;
                if ($('#asignaActividad').is(':checked')) { actividad = true; }
                if ($('#cierraActicidad').is(':checked')) { cierre = true; }
                if ($('#agregaParticipante').is(':checked')) { participantes = true; }

                var idProyecto = $('#idProyecto').val();

                var parametros = {
                                      idProyecto: idProyecto
                                    , idUsuario: idUsuario
                                    , asigna: actividad
                                    , cierra: cierre
                                    , participantes: participantes

                };


                $.post('@Url.Action("AgregarUsuarioProyecto", "Proyecto")', parametros, function (data) { 
                    $('#dvListaParticipantes').load('@Url.Action("_ListaParticipantesDelProyecto", "Proyecto")', parametros);
                });
            }
            
        </script>

    }
